{% load static %}

<!--bootstrab css -->
{#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">#}
    <!-- my css -->
{#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">#}

 <!-- jquery-confirm Js -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">



<!-- css of stripe payment - method -->
<link rel="stylesheet" href="{% static 'css/payment-Method.css' %}">



<!-- Amr Style for E-commerce page -->
<link rel="stylesheet" href="{% static 'css/style.css'  %}">
<link rel="stylesheet" href="{% static 'css/FAQ.css' %}">
<link rel="stylesheet" href="{%  static 'css/nav.css' %}">
<link rel="stylesheet" href="{% static 'css/products.css' %}">
<link rel="stylesheet" href="{% static 'css/signUp.css' %}">
<link rel="stylesheet" href="{% static 'css/productDetails.css' %}">
{#<link rel="stylesheet" href="{% static 'css/confirmation.css'  %}">#}  <!-- will comment this line as it conflicts with the tremaining parts -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet prefetch" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
<link rel="stylesheet prefetch" href="https://fonts.googleapis.com/css?family=Coda">






