{% load static %}

<!-- jquery slim is missing ajax so we will remove it from https://code.jquery.com/jquery-3.2.1.slim.min.js -->
<!-- the following 3 lines for bootstrap -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>










<!-- ecommerce custom javascript file -->
<script src="{% static "js/ecommerce.js" %}"></script>



<!-- Stripe java script -->
<script src="https://js.stripe.com/v3/"></script>



<!-- ecommerce custom payment-method js -->
<script src="{% static 'js/Payment-Method.js' %}"></script>


<!-- Amr js -->
<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/panelAccordion.js' %}"></script>
<script src="{% static 'js/showCard.js' %}"></script>
<script src="{% static 'js/RegistrationValidation.js' %}"></script>
{#<script src="{% static 'js/IncrementCart.js' %}"></script>#}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js'></script> <!-- bootstrap validators -->
<!-- eccommerce ajax csrf with django -->
<script src="{% static "js/ajax.csrf.js" %}"></script>


<!-- Jquery alerts js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
