{% if address_qs  %}
    <form method="POST" action="{% url "cart:checkout-Address-reuse" %}"> {% csrf_token %}
    {% for Address in address_qs %}
        <label for="address-{{ Address.id }}">
            <input id="address-{{ Address.id }}" type="radio" name="Address-id" value="{{ Address.id }}"/>
            {{ Address.Address_line_1 }},
            {% if Address.Address_line_2 %} Address.Address_line_2,
            {% endif %}
            {{ Address.State }},{{ Address.Postal_Code }},{{ Address.city }}
        </label><br/>
    {% endfor %}



            {% if next_url %}
                <input type="hidden" name="next" value="{{ next_url }}">
            {% endif %}
             {% if address_type %}
                 {% for hidden in form.hidden_fields %}

                     {{ hidden }}
                 {% endfor %}

{#                 <input type="hidden" name="address_type" value="{{ address_type }}">#}
            {% endif %}
            <button type="submit" class="btn btn-success">Use Address</button>
    </form>
{% endif %}