{% extends "base.html" %}
{% block content %}

    <div class="row mb-3">
    {% if request.GET.q %}
        <div class="col-12 ">
          Results for <b>{{ request.GET.q }} </b> <hr/>
            {% for obj in object_list %}
                <div class="col">

            {%  include "product/snippets.html" with instance=obj%}
            {#        <a href='{{ obj.get_absolute_url }}'>{{ obj.Name }}</a> </br>#}
            </div>

        {% endfor %}
            {% else %}
             {% include "snippets/searchbar.html" %}
         </div>
        <div class="col-12">
            <hr>
        </div>
    {% endif %}
    </div>
{% endblock %}