{% extends "base.html" %}
{% load static %}
{% block navbar %}{% endblock navbar %}
{% block content %}

    <div class="row page-title"><img src="{% static 'media/logo.png' %}" alt=""></div>
      <h4 class="FAQ-title">{{ template_name }}</h4>
      <hr class="separator">
      <div class="container">
        <h3>Bringing your feelings to life!</h3>
        <p>Bringing nature to your doorstep, online flower ordering has now become easy with Floward.
           With passion and love, we master the arrangement of elegant and vibrant bouquets to brighten
           up your special occasions.
        </p>
         <h3>Same – Day Flowers Delivery and Solid Customer Service</h3>
        <p>Our Customer Service team is perfectly trained to serve all your needs.
          Whether you’re sending red roses to express your admiration to that special someone,
           gifts and flowers to welcome the arrival of a baby into a friend’s family or a get well flowers to give
            the patient a reason to heal better, our team is always ready to assist you!
             Just dial log on to our website or call our Customer Care team on +965 2133211.
              We’ll help you pick from our cheerful arrangements and pair flowers with add –
               on products to send lasting smiles to that special someone.
        </p>
         <h3>Bringing your feelings to life!</h3>
        <p>Bringing nature to your doorstep, online flower ordering has now become easy with Floward.
           With passion and love, we master the arrangement of elegant and vibrant bouquets to brighten
           up your special occasions.
        </p>
         <h3>Same – Day Flowers Delivery and Solid Customer Service</h3>
        <p>Our Customer Service team is perfectly trained to serve all your needs.
          Whether you’re sending red roses to express your admiration to that special someone,
           gifts and flowers to welcome the arrival of a baby into a friend’s family or a get well flowers to give
            the patient a reason to heal better, our team is always ready to assist you!
             Just dial log on to our website or call our Customer Care team on +965 2133211.
              We’ll help you pick from our cheerful arrangements and pair flowers with add –
               on products to send lasting smiles to that special someone.
        </p>
        <br><br>
      </div>


{% endblock %}




