{% extends "base.html" %}
{% url 'home' as home_url %}
{% url 'register' as register_url %}
{% load static %}
{#{% block content %}#}
{#    <div class="row">#}
{#            <div class="col">#}
{#                <h1> Register</h1>#}
{#                <div class="col-sm-6 col-12 mx-auto">#}
{#                    <form method="POST"> {% csrf_token %}#}
{#                        {{ form.as_p}}#}
{#                        <button type="submit" class="btn btn-primary">Submit</button>#}
{#                    </form>#}
{#                </div>#}
{#            </div>#}
{#    </div>#}
{#{% endblock %}#}



{% block  content %}


 <div class="text-center"> <a href="{{ home_url }}">
     <img width="" src="{% static 'media/logo.png' %}" alt=""></a>
 </div>
 <div class="sign-up-Wrapper" >
    <div class="container">
    <div class="row">
        <h1 class="col-md-4 col-md-offset-4 well signUp-title">Sign Up</h1>
    </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4 well">

                {% include 'Form_Register_template.html' with form=form%}
            </div>
         </div>
    </div>
</div>
{% endblock %}
