<div class="col-md-3 filter-section ">
               <div class="filter-header">Filter By </div>
               <div class="card">
                  <article class="card-group-item">
                     <header class="card-header">
                        <h5 class="card-title">Brand
                           <a href="#col-filter-brands" data-toggle="collapse">
                           </a>
                        </h5>
                     </header>
                     <div id="col-filter-brands" class="card-body collapse in">
                        <form>
                           <div class="brand-element">
                              <input class="form-check-input" type="checkbox" value="">
                              <span class="form-check-label">ZARA</span>
                           </div>
                           <div class="brand-element">
                              <input class="form-check-input" type="checkbox" value="">
                              <span class="form-check-label">GUCCI</span>
                           </div>
                           <div class="brand-element">
                              <input class="form-check-input" type="checkbox" value="">
                              <span class="form-check-label">AMERICAN EAGLE</span>
                           </div>
                           <div class="brand-element">
                              <input class="form-check-input" type="checkbox" value="">
                              <span class="form-check-label">ARMANI</span>
                           </div>
                           <div class="brand-element">
                              <input class="form-check-input" type="checkbox" value="">
                              <span class="form-check-label">CALVIEN CLEIN</span>
                           </div>
                        </form>
                     </div>
                  </article>
               </div>
               <div class="card">
                  <article class="card-group-item">
                     <header class="card-header ">
                        <h5 class="card-title">Price
                           <a href="#col-filter-price" data-toggle="collapse">
                           </a>
                        </h5>
                     </header>
                     <div id="col-filter-price" class="card-body collapse in">
                        <input type="text" placeholder="1 KD"/>
                        to
                        <input type="text" placeholder="1000 KD"/>
                     </div>
                  </article>
               </div>
               <div class="card">
                  <article class="card-group-item">
                     <header class="card-header ">
                        <h5 class="card-title">Size
                           <a href="#col-filter-size" data-toggle="collapse">
                           </a>
                        </h5>
                     </header>
                     <div id="col-filter-size" class="card-body collapse in">
                        <label class="btn btn-default">
                        <input class="" type="checkbox" name="myradio" value="">
                        <span class="form-check-label">small</span>
                        </label>
                        <label class="btn btn-default">
                        <input class="" type="checkbox" name="myradio" value="">
                        <span class="form-check-label">Medium</span>
                        </label>
                        <label class="btn btn-default">
                        <input class="" type="checkbox" name="myradio" value="">
                        <span class="form-check-label">large</span>
                        </label>
                        <label class="btn btn-default">
                        <input class="" type="checkbox" name="myradio" value="">
                        <span class="form-check-label">XL</span>
                        </label>
                        <label class="btn btn-default">
                        <input class="" type="checkbox" name="myradio" value="">
                        <span class="form-check-label">XXL</span>
                        </label>
                     </div>
                  </article>
               </div>
               <div class="card">
                  <article class="card-group-item">
                     <header class="card-header ">
                        <h5 class="card-title">Color
                           <a href="#col-filter-color" data-toggle="collapse">
                           </a>
                        </h5>
                     </header>
                     <div id="col-filter-color" class="card-body collapse in">
                        <label class="btn btn-red">
                        <input class="" type="checkbox" name="myradio" value="">
                        <span class="form-check-label">Red</span>
                        </label>
                        <label class="btn btn-green">
                        <input class="" type="checkbox" name="myradio" value="">
                        <span class="form-check-label">Green</span>
                        </label>
                        <label class="btn btn-blue">
                        <input class="" type="checkbox" name="myradio" value="">
                        <span class="form-check-label">Blue</span>
                        </label>
                        <label class="btn btn-yellow">
                        <input class="" type="checkbox" name="myradio" value="">
                        <span class="form-check-label">Yellow</span>
                        </label>
                        <label class="btn btn-black">
                        <input class="" type="checkbox" name="myradio" value="">
                        <span class="form-check-label">Black</span>
                        </label>
                        <label class="btn btn-white">
                        <input class="" type="checkbox" name="myradio" value="">
                        <span class="form-check-label">white</span>
                        </label>
                        <label class="btn btn-pink">
                        <input class="" type="checkbox" name="myradio" value="">
                        <span class="form-check-label">Pink</span>
                        </label>
                        <label class="btn btn-orange">
                        <input class="" type="checkbox" name="myradio" value="">
                        <span class="form-check-label">Orange</span>
                        </label>
                     </div>
                  </article>
               </div>
</div>