{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="card">
 <div class="row ">
    <aside class="col-sm-6 col-md-6 ">
       <article class="preview ">
          <div class="row ">
             <div class="col-sm-3 col-md-3">
                <ul class="preview-thumbnail nav nav-tabs" role="tablist">
                   <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="{{ object.image.url }}"/></a></li>
                   <li><a data-target="#pic-2" data-toggle="tab"><img src="{{ object.img1.url }}"  /></a></li>
                   <li><a data-target="#pic-3" data-toggle="tab"><img src="{{ object.img2.url }}"  /></a></li>
                   <li><a data-target="#pic-4" data-toggle="tab"><img src="{{ object.img3.url }}"  /></a></li>
                   <li><a data-target="#pic-5" data-toggle="tab"> <img src="{{ object.img4.url }}"  /></a></li>
                </ul>
             </div>
             <div class="col-sm-9 col-md-9">
                <div class="preview-pic tab-content" id="tabs">
                   <div class="tab-pane active" id="pic-1"><img src="{{ object.image.url }}" class="img-responsive"/></div>
                   <div class="tab-pane" id="pic-2"><img src="{{ object.img1.url }}" class="img-responsive"/></div>
                   <div class="tab-pane" id="pic-3"><img src="{{ object.img2.url }}" class="img-responsive"/></div>
                   <div class="tab-pane" id="pic-4"><img src="{{ object.img3.url }}" class="img-responsive"/></div>
                   <div class="tab-pane" id="pic-5"><img src="{{ object.img4.url }}" class="img-responsive"/></div>
                </div>
             </div>
          </div>
       </article>
    </aside>
    <aside class="col-sm-6 col-md-6">
       <article class="p-5">
          <h3 class="title mb-3">{{ object.Name }} - Brand {% for tag in object.tags_set.all  %} {% if  tag.Brand %}{{ tag.Brand }}{% else %} Not Specified{% endif %}  {% endfor %} </h3>
          <div class="item-price mb-3">
             <span class="currency">KWD </span><span class="num">{{ object.price }}</span>
          </div>
          <dl class="item-desc" >
             <dt >Description</dt>
             <dd>
                <p>{{ object.description }}</p>
             </dd>
          </dl>
          <dl class="row item-props-group detailed_info">
             <dt class="col-sm-5">  Designer Style ID:</dt>
             <dd class="col-sm-7">MLB0583PLE002N</dd>
             <dt class="col-sm-5 Color">Color:</dt>
             <dd class="col-sm-7"><p  class='color-list__item color-list__item--green'>green</p> </dd>
             <dt class="col-sm-5">Lining Composition:</dt>
             <dd class="col-sm-7">acetate 68% </dd>
             <dt class="col-sm-5">Lining Composition:</dt>
             <dd class="col-sm-7">polyester 32% </dd>
             <dt class="col-sm-5">Outer Composition:</dt>
             <dd class="col-sm-7">sheepskin 100% </dd>
             <dt class="col-sm-5">Washing Instructions:</dt>
             <dd class="col-sm-7">specialist cleaning:</dd>
             <dt class="col-sm-5">Made in Italy</dt>
          </dl>
          <hr class="col-sm-11 offset-sm-1">
          <div class="prop-wrapper">
             <div class="row item-prop">
                <div class="col-md-4 ">Size</div>
                <div class="col-md-4 offset-md-4">

                   <select class="form-control custom-select mb-3 color_based_size">
                            <option disabled selected>Select Size</option>

                       {% for sizes in qs_sizes %}


                           {% ifequal sizes.0 'Extra Small' %}
                               <option value="{{ xs }}|safe">XSmall</option>
{#                               <input type="hidden" id="myColor_es" name="variable" value="{{ xs }}">#}

                            {% endifequal %}

                            {% ifequal sizes.0 'Small' %}
                                <option value="{{ s }}|safe">Small</option>
{#                                <input type="hidden" id="myColor_s" name="variable" value="{{ s }}">#}
                            {% endifequal %}

                            {% ifequal sizes.0 'Small Medium' %}
                                <option value="{{ sm }}">Small Medium</option>
{#                                <input type="hidden" id="myColor_sm" name="variable" value="{{ sm }}">#}
                            {% endifequal %}

                            {% ifequal sizes.0 'Medium' %}


                                <option value="{{ m }}">Medium</option>

{#                                    <input type="hidden" id="myColor_m" name="variable" value="{{ m }}">#}

                            {% endifequal %}

                            {% ifequal sizes.0 'Large' %}
                                <option value="{{ l }}|safe">Large</option>
{#                                    <input type="hidden" id="myColor_l" name="variable" value="{{ l }}">#}
                            {% endifequal %}

                            {% ifequal sizes.0 'Extra Large' %}
                                <option value="{{ xl }}|safe">XLarge</option>
{#                                    <input type="hidden" id="myColor_xl" name="variable" value="{{ xl }}">#}
                            {% endifequal %}

                            {% ifequal sizes.0 'Double Large' %}
                                <option value="{{ xxl }}|safe">XXLarge</option>
{#                                    <input type="hidden" id="myColor_xxl" name="variable" value="{{ xxl }}">#}
                            {% endifequal %}


                            {% ifequal sizes.0 'Triple Large' %}
                                <option value="{{ xxxl }}|safe">XXXLarge</option>
{#                                    <input type="hidden" id="myColor_xxxl" name="variable" value="{{ xxxl }}">#}
                            {% endifequal %}

                            {% ifequal sizes.0 '13 inch' %}

                                <option value="{{ 13inch }}|safe">13 ''</option>
{#                                    <input type="hidden" id="myColor_13" name="variable" value="{{ 13inch }}">#}
                            {% endifequal %}

                            {% ifequal sizes.0 '15 inch' %}
                                <option value="{{ 15inch }}|safe">15 ''</option>
{#                                     <input type="hidden" id="myColor_15" name="variable" value="{{ 15inch }}">#}
                            {% endifequal %}


                       {% endfor %}

                   </select>
                </div>
             </div>
             <div class="row item-prop">
                <div class="col-md-4 ">Quantity</div>
                <div class="col-md-4 offset-md-4">
                   <div class="form-group ">
                      <input type="number" class="form-control" placeholder="0">
                   </div>
                </div>
             </div>
          </div>
          <hr class="col-sm-10 offset-sm-2">
          <div class="buttons-buy">
             <div class="col-md-4 btn-buy">
                <a href="payment.html" class="btn  btn-info form-control"> Buy Now </a>
             </div>

              {% include "carts/Form_Update_or_Remove_from_cart.html" with product=object cart=cart %}

          </div>
       </article>
    </aside>
 </div>
</div>
{% endblock %}

